@font-face {
  font-family:'Parkinsans';
  src: url(/fonts/Parkinsans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family:'Parkinsans';
  src: url(/fonts/Parkinsans-Bold.ttf);
  font-weight: 700;
}
:root{
  --font-family:'Parkinsans';
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100dvh;
  background-color: rgb(0, 48, 48);
  font-family: var(--font-family);
  padding: 30px;
}
section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding: 20px;
  gap: 50px;
}
section div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section div h2{
  font-size: 1.6rem;
  color: whitesmoke;
  font-weight: 700;
  margin-bottom: 20px;
}
.content{
  place-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 50px;
}
.content div{
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  & p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 2rem;
  }
}
@supports (corner-shape: squircle) {
    .content div {
        corner-shape: squircle;
        border-radius: 100px;
          border: 1px solid white;
    }
}
.controls{
  border: none !important;
  flex-direction: row;
  padding: 0px;
}
.counter {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
}