@font-face {
  font-family:'Parkinsans';
  src: url(/fonts/Parkinsans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family:'Parkinsans';
  src: url(/fonts/Parkinsans-Bold.ttf);
  font-weight: 700;
}
:root{
  --font-family:'Parkinsans';
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100dvh;
  background-color: rgb(0, 48, 48);
  font-family: var(--font-family);
  padding: 30px;
  overflow: hidden;
}
section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding: 35px;
  gap: 50px;
}
section div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section div h2{
  font-size: 1.6rem;
  color: whitesmoke;
  font-weight: 700;
  margin-bottom: 20px;
}
.content{
  place-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 50px;
}
.content div{
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  & p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 2rem;
  }
}
@supports (corner-shape: squircle) {
    .content div , .Hover-Split , .controls > button   {
        corner-shape: squircle;
        border-radius: 100px;
          border: 1px solid white;
    }
}
.controls{
  border: none !important;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
}
@media (max-width : 1400px) {
  .controls{
    justify-content: center !important;
  }
}
.counter {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: transparent;
}

button {
  cursor: pointer;
}
.Hover-Split{
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(0, 48, 48);
  border: none;
}
.controls > button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 15px ;
  transition: all 0.3s  ease;
}
.controls > button:hover {
  background-color: white;
  color: rgb(0, 48, 48);
  border: none;
}
span {
  display: inline-block;
}
footer{
  width: 100%;
  text-align: center;
}
a{
  margin: 0 auto;
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}
a:hover{
  letter-spacing: 2.5px;
  transform: scale(1.1);
}